@model IEnumerable<NewSPCA.Models.Species>
<div class="container marginBottom">
    @{
        ViewData["Title"] = "Index";
    }

    <h2>Species</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Species_Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Species_Name)
                    </td>
                    <td>
                        <a class="ico-success" title="Edit Species" asp-action="Edit" asp-route-id="@item.SpeciesID"><i class="fas fa-edit"></i></a>
                        <a class="ico-info" title="Species Details" asp-action="Details" asp-route-id="@item.SpeciesID"><i class="fas fa-search-plus"></i></a>
                        <a class="ico-danger" title="Delete Species" asp-action="Delete" asp-route-id="@item.SpeciesID"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>